.AboutMeheader {
  font-size: 50px;
  font-weight: 500;
  padding: 20px;
}
.aboutmainPanel {
  padding: 30px;
  width: 100%;
  display: flex;
}
.aboutcontentpanel {
  padding: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.left {
  padding-right: 50px;
}
.left img {
  height: 300px;
  padding: 20px;
}
.right {
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
}

.leftinvert {
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
  font-size: 18px;
  line-height: 30px;
}
.rightinvert {
  padding-right: 50px;
}
.rightinvert img {
  height: 300px;
  padding: 20px;
}
.topnav {
  display: none;
}


@media (max-width: 1250px) {
  .aboutmainPanel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left img {
    height: 200px;
  }
  .rightinvert {
  }
  .rightinvert img {
    height: 200px;
  }
}

@media (max-width: 550px) {
  .aboutcontentpanel {
    padding: 0px;
  }
  .left {
  }
  .left img {
    height: 200px;
  }
  .rightinvert {
  }
  .rightinvert img {
    height: 200px;
  }
  
}