/* (A) WHOLE PAGE */
* {
  box-sizing: border-box;
}
body {
  background: #eee;
}

/* (B) GALLERY WRAPPER */
.gallery {
  /* (B1) GRID LAYOUT - 3 IMAGES PER ROW */
  max-width: 100vw;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  /* (B2) OPTIONAL WIDTH RESTRICT */
  max-width: 900px;
  margin: 0 auto;
}
