nav {
    left: 25px;
    bottom: 25px;
    position: fixed;
    max-height: fit-content;
    background-color: white;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 40px;
  }

.left {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .left a {
    padding: 16px;
    text-decoration: none;
    color: black;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 25px;
  }
  
  .left a:hover {
    background-color: rgb(233, 233, 233);
  }