.prjheader {
  padding: 30px;
  padding-bottom: 15px;
  font-size:45px;
  font-weight: 500;
}
.prjmainPanel {
  padding: 50px;
  display: flex;
  padding-top: 30px;
}

.featuredContentPanel {
  min-height: 500px;
  max-width: 550px;
  border-radius: 50px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 40px;
}
.prjmainPanel > div {
  padding: 30px;
  margin: 30px;
}
.imageContentContainer {
  display: flex;
  justify-content: center;
}
.image_content {
  border-radius: 50px;
  padding: 20px;
  max-width: 400px;
}
.image_content2 {
  height: 250px;
  padding: 20px;
}
.textContent {
  padding: 20px;
}
.textContent p {
  line-height: 1.5;
}
.featuredContentPanel:hover {
}
.contentHeader {
  padding-top: 10px;
  padding-bottom: 10px;
}
.contentText {
  line-height: 1.7px;
  font-size: 16px;
}
.nb-link{
  background-color: #3fa9f5;
  font-size: 18px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  margin-top: 30px;
  border-width: 2px;
}
.secondmainPanel {
  display: flex;
  flex-direction: column;
}
.s2header {
  font-size: 40px;
  margin-bottom: 20px;
}
.s2maintext {
  padding-top: 12px;
  font-size: 18px;
  line-height: 2rem;
}
.subContentPanel {
  min-height: 500px;
  min-width: 70vw;
  border-radius: 50px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 40px;
}

@media (max-width: 550px) {
  .prjmainPanel {
    padding: 30px;
    flex-wrap: wrap;
  }
  .featuredContentPanel {
    min-width: 350px;
  }
  .image_content {
    max-width: 300px;
  }
}
@media (max-width: 950px) {
  .prjmainPanel {
    padding: 30px;
    flex-wrap: wrap;
  }
  .featuredContentPanel {
    min-width: 350px;
  }
  .image_content {
    max-width: 300px;
  }
}