.prjheader {
  padding: 30px;
  padding-bottom: 15px;
  font-size: 45px;
  font-weight: 500;
}
.prjmainPanel {
  padding: 50px;
  display: flex;
  padding-top: 30px;
}

.featuredContentPanel {
  min-height: 500px;
  max-width: 550px;
  border-radius: 50px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 40px;
}
.prjmainPanel > div {
  padding: 30px;
  margin: 30px;
}
.imageContentContainer {
  display: flex;
  justify-content: center;
}
.image_content {
  border-radius: 50px;
  padding: 20px;
  max-width: 400px;
}
.image_content2 {
  height: 250px;
  padding: 20px;
}
.textContent {
  padding: 20px;
}
.textContent p {
  line-height: 1.5;
}
.featuredContentPanel:hover {
}
.contentHeader {
  padding-top: 10px;
  padding-bottom: 10px;
}
.contentText {
  line-height: 2px;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nb-link {
  background-color: #3fa9f5;
  font-size: 18px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  margin-top: 30px;
  border-width: 2px;
}
.secondmainPanel2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 90px;
}
.s2header {
  font-size: 40px;
  margin-bottom: 20px;
}
.s2maintext {
  padding-top: 12px;
  font-size: 18px;
  line-height: 2rem;
}
.subContentPanel {
  min-height: 500px;
  min-width: 70vw;
  border-radius: 50px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 40px;
  margin-left: 100px;
  margin-right: 100px;
}
.additionalStudiesConainter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.studiesContentPanel {
  min-height: 500px;
  max-width: 25vw;
  border-radius: 50px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 40px;
  margin: 10px;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  border-radius: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  image-resolution: from-image 300dpi;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  image-resolution: 300dpi;
}

.active,
.demo:hover {
  opacity: 1;
}

.image_contentADI {
  height: 350px;
  padding: 30px;
}

@media (max-width: 950px) {
  .prjmainPanel {
    padding: 30px;
    flex-wrap: wrap;
  }
  .featuredContentPanel {
    min-width: 350px;
  }
  .image_content {
    max-width: 300px;
  }
}
@media (max-width: 550px) {
  .prjmainPanel {
    padding: 30px;
    flex-wrap: wrap;
  }
  .featuredContentPanel {
    min-width: 350px;
  }
  .image_content {
    max-width: 300px;
  }
  .additionalStudiesConainter {
    display: block;
  }
  .studiesContentPanel {
    max-width: none;
    margin: 20px;
  }
  .subContentPanel {
    margin: 20px;
  }
  .image_contentADI {
    width: 50%;
  }
  .imageContentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.imageContentContainer img {
  min-width: 50%;
  height: auto;
}
.imageContentContainer img {
  width: 300px;
}
.imageContentContainer {
  display: flex;
}